In [1]:
pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.3-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in c:\users\jhartman\anaconda3\lib\site-packages (from datacompy) (1.3.4)
Collecting ordered-set>=4.0.2
  Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Requirement already satisfied: numpy>=1.11.3 in c:\users\jhartman\anaconda3\lib\site-packages (from datacompy) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jhartman\anaconda3\lib\site-packages (from pandas>=0.25.0->datacompy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jhartman\anaconda3\lib\site-packages (from pandas>=0.25.0->datacompy) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jhartman\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.16.0)
Installing collected packages: ordered-set, datacompyNote: you may need to restart the kernel to use updated packages.

Successfully installed datacompy-0.7.3 ordered-set-4.1.0

In [1]:
import pandas as pd
import datacompy as dc

In [2]:
df1 = pd.ExcelFile("C:/Users/jhartman/Documents/Benchmark/fixed_actualsJan.xlsx",engine='openpyxl')
df1 = pd.read_excel(df1)
df2 = pd.ExcelFile("C:/Users/jhartman/Documents/Benchmark/dEPM Actuals 2 2022-0301.xlsx",engine='openpyxl')
df2 = pd.read_excel(df2)

In [3]:
compare = dc.Compare(
df1,
df2,
join_columns='Entity',
df1_name='original',
df2_name='new')

In [4]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  original       27  40058
1       new       27  40058

Column Summary
--------------

Number of columns in common: 27
Number of columns in original but not in new: 0
Number of columns in new but not in original: 0

Row Summary
-----------

Matched on: entity
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 40,058
Number of rows in original but not in new: 0
Number of rows in new but not in original: 0

Number of rows with some compared columns unequal: 78
Number of rows with all compared columns equal: 39,980

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 24
Total number of values which compare unequal: 78

Columns with Unequal Values or Types
------------------------------------

           Column original dtype new dtype  # Unequal      Max Diff  # Null Diff
0      analysis04         object    object         59  0.000000e+00            0
1  primarysegment        float64   float64         14  2.000000e+02            0
2           value        float64   float64          5  9.313226e-10            0

Sample Rows with Unequal Values
-------------------------------

       entity analysis04 (original) analysis04 (new)
24882     145                   500              500
24880     145                   500              500
24931     145                   500              500
24874     145                   500              500
24922     145                   500              500
24893     145                   500              500
24844     145                   500              500
24941     145                   500              500
24905     145                   500              500
24843     145                   500              500

       entity  primarysegment (original)  primarysegment (new)
35845     168                      300.0                 100.0
35848     168                      300.0                 100.0
36371     168                      300.0                 100.0
36324     168                      300.0                 100.0
36372     168                      300.0                 100.0
36311     168                      300.0                 100.0
36312     168                      300.0                 100.0
36366     168                      300.0                 100.0
36369     168                      300.0                 100.0
36257     168                      300.0                 100.0

       entity  value (original)   value (new)
26519     151      1.862645e-09  1.193257e-09
26502     151      1.365400e+02  1.365400e+02
35370     168     -8.059400e+02 -8.059400e+02
18056     135     -7.275958e-12 -1.455192e-11
38704     170      0.000000e+00  9.313226e-10